@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;  
  font-family: Arial,Tahoma; color:#333; background: #eee;
}
#header{
	background-color: #ffffff;
	height : 100px;
	width:100%px;
}
#left-header, #center-header {	
	float : left;
}
#right-header {
	float : right;
}
#label-header{
	float: left;
	font-family: "Comic Sans", Tahoma, Serif;
	font-size: 30px;
	padding:30px;
	color : 0#274e13;
}
#logo-left, #logo-right{
	margin-left:30px;
	margin-right : 20px;
	width : 100px;	heigh : 100px;	
}


#navigation-1 nav {
  margin-top: 0px;  padding: 10px;
  text-align: center;  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-1 {
  background: #5175C0;
}
.link-1 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link-1:hover {
  background-color: #ffffff;
  color: #EEA200;
  padding: 10px 10px;
}

* { margin:0; padding: 0; list-style: none; }

#page { 
	margin: 0 auto; 
	width: 800px; 
	background: #fff; 
	padding:2px; 
	margin-top: 2px; 
	margin-bottom: 5px; 
	border: 1px solid #777; 
	box-shadow: #999 1px 1px 3px; 
}
#page img{
	width: 800px;	
}

div.parent-box{
	
}
div.img-box {
    margin-top: 20px;
	margin-left: 40px;	
    border: 1px solid #ccc;
    float: left;
    width: 200px;
	padding: 10px;
	border: 2px solid;
	border-color : 3C6634;
	box-shadow: #999 2px 2px 2px 3px; 
    border-radius: 25px;
}
div.img-box:hover {
    border: 0px solid #777;
}
div.img-box img {
    width:200px;
    height: 200px;
}
div.desc {
    padding: 15px;
    text-align: center;
}

#body-content{
	width:900px;
	font-size:14px;
	position: relative;
	margin: 0 auto;
}

.fb-wrapper-inner{
	border-radius: 25px;
    background: #5175C0;
	color: #ffffff;
	font-size: 15px;
    
    width: 900px;
    height: 90px; 	
	float: left;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom: 20px;
}
.fb-img{
	float:left;
	margin:20px;
}
.fb-content{
	float:left;
	margin-top:35px;
}
.fb-content a{
	margin-left:10px;
}


.footer{
	width:100%;
	font-size:15px;
	position: relative;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom: 20px;
	height:100px;
	background: #5e5957;
	float:left;
}